@font-face {
  font-family: 'Cinema';
  src: url('./assets/font/Cinema\ Font\ \(\ www.rezagraphic.ir\ \).eot');
  src: url('./assets/font/Cinema\ Font\ \(\ www.rezagraphic.ir\ \).eot') format('embedded-opentype'),
       url('./assets/font/Cinema\ Font\ \(\ www.rezagraphic.ir\ \).woff2') format('woff2'),
       url('./assets/font/Cinema\ Font\ \(\ www.rezagraphic.ir\ \).woff') format('woff'),
       url('./assets/font/Cinema\ Font\ \(\ www.rezagraphic.ir\ \).ttf') format('truetype'),
       url('./assets/font/Cinema\ Font\ \(\ www.rezagraphic.ir\ \).svg') format('svg');}


       

       .angry-animate{
        -webkit-animation:jump 1s ease 0s 1 normal;
        -moz-animation:jump 1s ease 0s 1 normal;
        -ms-animation:jump 1s ease 0s 1 normal;
        animation:jump 1s ease 0s 1 normal;
        }
        
        @-webkit-keyframes jump{
        0%{ -webkit-transform:translateY(0); transform:translateY(0); }
        20%{ -webkit-transform:translateY(0); transform:translateY(0); }
        40%{ -webkit-transform:translateY(-30px); transform:translateY(-30px); }
        50%{ -webkit-transform:translateY(0); transform:translateY(0); }
        60%{ -webkit-transform:translateY(-15px); transform:translateY(-15px); }
        80%{ -webkit-transform:translateY(0); transform:translateY(0); }
        100%{ -webkit-transform:translateY(0);transform:translateY(0); }
        }
        
        @keyframes jump{
        0%{ transform:translateY(0); }
        20%{ transform:translateY(0); }
        40%{ transform:translateY(-30px); }
        50%{ transform:translateY(0); }
        60%{ transform:translateY(-15px); }
        80%{ transform:translateY(0); }
        100%{ transform:translateY(0); }
        }
        
  
        
        
        


html,body {

  height:100%;width:100% ;
  overflow: hidden;
}  

#btn{
  background:none;
  border: none;
}

body {
  background-image: linear-gradient(#FEA201,#FFA200) ;
  background-size: 100vw 100vh;
  margin: 0;
  padding: 0 }
#desing{
   background: url(./assets/Desktop\ -\ 5.png);
   background-size: 100vw 100vh;
   height: 100vh;
   /* width: ; */
   /* border: 2px solid black; */
}
#RT-design{
  position: absolute;
  /* background: url(./assets/Fingil\ kabab\ 10.png) no-repeat left top; */
  height: 56vh;
  width: fit-content;
  top: 10vh;
  right: 0;
  
}
#RD-design{
  position: absolute;
  /* background: url(./assets/Fingil\ kabab\ 10.png) no-repeat left top; */
  height: 20vh;
  bottom:  10vh;
  right: 0;
}
#LT-design{
  position: absolute;
  /* background: url(./assets/Fingil\ kabab\ 10.png) no-repeat left top; */
  background-size: auto;
  height: 56vh;
  /* border: 2px solid black; */
}
#LD-design{
  position: absolute;
  /* background: url(assets/material-symbols_airwave.png) no-repeat left; */
  top: 70vh;
  left: -3vw;
  background-size: auto;
  height: 20vh;
  /* border: 2px solid black; */
}
#strok-text{
  position: absolute;
  left: 40vw;
  top: 13vh;
  font-family: Cinema;
  font-size: 1.3vw;
  color: black;
  -webkit-text-fill-color: black;
  -webkit-text-stroke: 1.3vw white;
}
#down-text{
  position: absolute;
  top: 13vh;
  left: 40vw;
  font-family: Cinema;
  font-size: 1.3vw;
}
#up-strok-text{
  position: absolute;
  left: 42vw;
  font-family: Cinema;
  font-size: 2.2vw;
  color: black;
  -webkit-text-fill-color: black;
  -webkit-text-stroke: 2.2vw #25D398;
}
#up-text{
  position: relative;
  color: white;
  left: -1vw;
  font-family: Cinema;
  font-size: 2.2vw;
}
#BT-design{
  position: absolute;
  /* background: url(assets/material-symbols_airwave.png) no-repeat left; */
  bottom: 0;
  left: 47vw;
  background-size: auto;
  height: 10vh;
  
  
}
#full-text{
  margin-top: 4vh;
  text-align: center;
}

#main-img{
     display: block;
     /* position: absolute; */
     border-radius: 54px ;
     left: 37vw;
     top: 32vh;
     width: 25vw;    
     height: 46vh;
     overflow: hidden;
     border: none;
     outline: none;
     text-decoration: none;
     /* border: 2px solid black; */
     /* padding-left: 5px; */
     /* transform: scale(1.5); */
  
  }
  #btn-zoom-plus{
    position: absolute;
    top: 50vh;
    left: 62vw;
    background: none;
    outline: none;
    border: none;
  }
  #btn-zoom-minus{
    position: absolute;
    top: 57vh;
    left: 62vw;
    background: none;
    outline: none;
    border: none;
  }
  .wrapper {
    position: absolute;
    left: 37vw;
     top: 32vh;
    overflow: scroll;
    max-width: 25vw;
    max-height: 46vh;
    margin: 0 auto;
    /* border: 2px solid black; */
  }
/*  
  #main-img:hover {
    transform: scale(1.4);
  } */




#Rectangle-design{
  position: absolute;
  bottom: 13vh;
  left: 42vw;
  width: 14vw;
  height: 8vh;
  border-radius: 25px;
  box-shadow: 5px 5px;

}
#bt-text{
  position: absolute;
  font-family: cinema;
  color: #000;
  bottom: 14vh;
  left: 44vw;
  font-size: 2.5vw;
}
#star-desing{
  position: absolute;
  top: 2vh;
  left: 38vw;
  width: 3vw;
}
#star-desing2{
  position: absolute;
  top: 2vh;
  left: 57vw;
  width: 3vw;
  rotate: 110deg;
}
#size-design{
  font-family: cinema;
  position: absolute;
  bottom: 9vh;
  left: 47vw;
  }
  #size-design2{
    font-family: cinema;
    position: absolute;
    bottom: 9vh;
    left: 48.5vw;
    }
@media (max-width: 800px){
  #btn{
    z-index: 5000;
  }
  #wrapper{
    all: unset;
  }
  #size-design2{
    font-family: cinema;
    position: absolute;
    bottom: 11vh;
    left: 50.5vw;
    }
  #btn-zoom-plus{
  display: none;
  }
  #btn-zoom-minus{
    display: none;

  }
  #box{
    display: none;
  }
  #main-img{
    /* background: url(Frame\ 3.jpg)no-repeat center center;  */
    /* background-size: 130% 115%; */
    /* size: 100% 100%; */
    position: absolute;
    top: 25vh;
    left: 17vw;
    /* border-radius: 54px ; */
    background-origin: content-box;
    /* padding-bottom: 10px; */
    width: 63vw;
    height: 46vh;
    /* overflow: hidden; */
    border: none;
    outline: none;
    text-decoration: none;
    /* padding-top: 100px; */
    /* padding-left: 10px; */
    /* z-index: 25; */
    
 }
  #RT-design{
    top: 13vh;
    height: 30vh;
    width: 35vw;
  }
  #RD-design{
    top: 69vh;
    height: 10vh;
  }
  #LT-design{
    top: 15vh;
    height: 25vh;
    left: -2vw;
  }
  #LD-design{
    position: absolute;
    /* background: url(assets/material-symbols_airwave.png) no-repeat left; */
    top: 72vh;
    left: -5vw;
    background-size: auto;
    height: 10vh;
    /* border: 2px solid black; */
  }
  #strok-text{
    position: absolute;
    left: 22vw;
    top: 10vh;
    font-family: Cinema;
    font-size: 4vw;
    color: black;
    -webkit-text-fill-color: black;
    -webkit-text-stroke: 4vw white;
  }
  #down-text{
    position: relative;
    top: 7vh;
    left: 1vw;
    /* top: -29vh; */
    /* margin-left: 10vw; */
    /* left: 40vw;
    top: 17vh; */
    font-family: Cinema;
    font-size: 4vw;
  }
  #up-strok-text{
    position: absolute;
    left: 24vw;
    font-family: Cinema;
    font-size: 8vw;
    color: black;
    -webkit-text-fill-color: black;
    -webkit-text-stroke: 7vw #25D398;
  }
  #up-text{
    position: relative;
    left: 24vw;
    color: white;
    position: absolute;
    /* top: -29vh; */
    /* left: 41vw;
    top: 5vh; */
    font-family: Cinema;
    font-size: 8vw;
  }
  #BT-design{
    position: absolute;
    bottom: 0;
    left: 37vw;
    background-size: auto;
    height: 10vh;
  }
  #full-text{
    margin-top: 3vh;
    text-align: center;
  }
  #Rectangle-design{
    position: absolute;
    bottom: 14vh;
    left: 29vw;
    width: 38vw;
    height: 6vh;
    border-radius: 25px;
  box-shadow: 4px 4px;
  z-index: 9000;
  }
  #bt-text{
    position: absolute;
    font-family: cinema;
    color: #000;
    bottom: 15vh;
    left: 34vw;
    font-size: 7vw;
    z-index: 10000;
  }
  #star-desing{
    position: absolute;
    top: 2vh;
    left: 14vw;
    width: 7vw;
  }
  #star-desing2{
    position: absolute;
    top: 3vh;
    left: 79vw;
    width: 7vw;
    rotate: 120deg;
  }
  #size-design{
    font-family: cinema;
    position: absolute;
    bottom: 11vh;
    left: 45vw;
    }
}
  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
