@font-face {
  font-family: 'Cinema';
  src: url('./assets/font/Cinema\ Font\ \(\ www.rezagraphic.ir\ \).eot');
  src: url('./assets/font/Cinema\ Font\ \(\ www.rezagraphic.ir\ \).eot') format('embedded-opentype'),
       url('./assets/font/Cinema\ Font\ \(\ www.rezagraphic.ir\ \).woff2') format('woff2'),
       url('./assets/font/Cinema\ Font\ \(\ www.rezagraphic.ir\ \).woff') format('woff'),
       url('./assets/font/Cinema\ Font\ \(\ www.rezagraphic.ir\ \).ttf') format('truetype'),
       url('./assets/font/Cinema\ Font\ \(\ www.rezagraphic.ir\ \).svg') format('svg');}




html,body {

  height:100%;width:100% ;
  overflow: hidden;
}  

body {
  background-image: linear-gradient(#FEA201,#FFA200) ;
  background-size: 100vw 100vh;
  margin: 0;
  padding: 0 }
#desing{
   background: url(./assets/Desktop\ -\ 5.png);
   background-size: 100vw 100vh;
   height: 100vh;
   /* width: ; */
   /* border: 2px solid black; */
}
#RT-design{
  position: absolute;
  /* background: url(./assets/Fingil\ kabab\ 10.png) no-repeat left top; */
  height: 56vh;
  width: fit-content;
  top: 10vh;
  right: 0;
  
}
#RD-design{
  position: absolute;
  /* background: url(./assets/Fingil\ kabab\ 10.png) no-repeat left top; */
  height: 20vh;
  bottom:  10vh;
  right: 0;
}
#LT-design{
  position: absolute;
  /* background: url(./assets/Fingil\ kabab\ 10.png) no-repeat left top; */
  background-size: auto;
  height: 56vh;
  /* border: 2px solid black; */
}
#LD-design{
  position: absolute;
  /* background: url(assets/material-symbols_airwave.png) no-repeat left; */
  top: 70vh;
  left: -3vw;
  background-size: auto;
  height: 20vh;
  /* border: 2px solid black; */
}
#strok-text{
  position: absolute;
  left: 40vw;
  top: 13vh;
  font-family: Cinema;
  font-size: 1.3vw;
  color: black;
  -webkit-text-fill-color: black;
  -webkit-text-stroke: 1.3vw white;
}
#down-text{
  position: absolute;
  top: 13vh;
  left: 40vw;
  font-family: Cinema;
  font-size: 1.3vw;
}
#up-strok-text{
  position: absolute;
  left: 42vw;
  font-family: Cinema;
  font-size: 2.2vw;
  color: black;
  -webkit-text-fill-color: black;
  -webkit-text-stroke: 2.2vw #25D398;
}
#up-text{
  position: relative;
  color: white;
  left: -1vw;
  font-family: Cinema;
  font-size: 2.2vw;
}
#BT-design{
  position: absolute;
  /* background: url(assets/material-symbols_airwave.png) no-repeat left; */
  bottom: 0;
  left: 47vw;
  background-size: auto;
  height: 10vh;
}
#full-text{
  margin-top: 4vh;
  text-align: center;
}

#main-img{
     display: none;
     position: absolute;
     border-radius: 54px ;
     left: 37vw;
     top: 32vh;
     width: 25vw;    
     height: 46vh;
     overflow: hidden;
     border: none;
     outline: none;
     text-decoration: none;
     border: 2px solid black;
     /* padding-left: 5px; */
     /* transform: scale(1.5); */
  
  }
  #box{
    display: block;
    position: absolute;
    left: 39vw;
    top: 32vh;
     width: 21.5vw;    
     height: 21.5vw;
     overflow: hidden;
     background-origin: content-box;
     border: none;
     outline: none;
     text-decoration: none;
     border-radius: 54px ;
     /* padding-right: 30px; */
     border: 2px solid #000;
     
  }
iframe img{
  width: 500px;
}
/*  
  #main-img:hover {
    transform: scale(1.4);
  } */




#Rectangle-design{
  position: absolute;
  bottom: 12vh;
  left: 42vw;
  width: 14vw;
  height: 8vh;
}
#bt-text{
  position: absolute;
  font-family: cinema;
  color: #000;
  bottom: 13vh;
  left: 44vw;
  font-size: 2.5vw;
}
#star-desing{
  position: absolute;
  top: 2vh;
  left: 38vw;
  width: 3vw;
}
#star-desing2{
  position: absolute;
  top: 2vh;
  left: 57vw;
  width: 3vw;
  rotate: 110deg;
}
#size-design{
  font-family: cinema;
  position: absolute;
  bottom: 9vh;
  left: 48vw;
  }
@media (max-width: 800px){
  #box{
    display: none;
  }
  #main-img{
    display: block;
    /* background: url(Frame\ 3.jpg)no-repeat center center;  */
    /* background-size: 130% 115%; */
    /* size: 100% 100%; */
    position: absolute;
    top: 25vh;
    left: 17vw;
    /* border-radius: 54px ; */
    background-origin: content-box;
    /* padding-bottom: 10px; */
    width: 63vw;
    height: 54vh;
    /* overflow: hidden; */
    border: none;
    outline: none;
    text-decoration: none;
    /* padding-top: 100px; */
    /* padding-left: 10px; */
    /* z-index: 25; */
    
 }
  #RT-design{
    top: 13vh;
    height: 30vh;
    width: 35vw;
  }
  #RD-design{
    top: 69vh;
    height: 10vh;
  }
  #LT-design{
    top: 15vh;
    height: 25vh;
    left: -2vw;
  }
  #LD-design{
    position: absolute;
    /* background: url(assets/material-symbols_airwave.png) no-repeat left; */
    top: 72vh;
    left: -5vw;
    background-size: auto;
    height: 10vh;
    /* border: 2px solid black; */
  }
  #strok-text{
    position: absolute;
    left: 22vw;
    top: 10vh;
    font-family: Cinema;
    font-size: 4vw;
    color: black;
    -webkit-text-fill-color: black;
    -webkit-text-stroke: 4vw white;
  }
  #down-text{
    position: relative;
    top: 7vh;
    left: 1vw;
    /* top: -29vh; */
    /* margin-left: 10vw; */
    /* left: 40vw;
    top: 17vh; */
    font-family: Cinema;
    font-size: 4vw;
  }
  #up-strok-text{
    position: absolute;
    left: 24vw;
    font-family: Cinema;
    font-size: 8vw;
    color: black;
    -webkit-text-fill-color: black;
    -webkit-text-stroke: 7vw #25D398;
  }
  #up-text{
    position: relative;
    left: 24vw;
    color: white;
    position: absolute;
    /* top: -29vh; */
    /* left: 41vw;
    top: 5vh; */
    font-family: Cinema;
    font-size: 8vw;
  }
  #BT-design{
    position: absolute;
    bottom: 0;
    left: 40vw;
    background-size: auto;
    height: 10vh;
  }
  #full-text{
    margin-top: 3vh;
    text-align: center;
  }
  #Rectangle-design{
    position: absolute;
    bottom: 14vh;
    left: 31vw;
    width: 38vw;
    height: 6vh;
  }
  #bt-text{
    position: absolute;
    font-family: cinema;
    color: #000;
    bottom: 15vh;
    left: 37vw;
    font-size: 7vw;
  }
  #star-desing{
    position: absolute;
    top: 2vh;
    left: 14vw;
    width: 7vw;
  }
  #star-desing2{
    position: absolute;
    top: 3vh;
    left: 79vw;
    width: 7vw;
    rotate: 120deg;
  }
  #size-design{
    font-family: cinema;
    position: absolute;
    bottom: 11vh;
    left: 45vw;
    }
}
  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
  *body {
    margin: 0;
  }
  #navbar {
    overflow: hidden;
    background-color: #099;
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
  }
  #navbar a {
    float: left;
    display: block;
    color: #666;
    text-align: center;
    padding-right: 20px;
    text-decoration: none;
    font-size: 17px;
  }
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  #navbar a.active {
    background-color: #4CAF50;
    color: white;
  }
  .main {
    padding: 16px;
    margin-top: 30px;
  }
  .main img {
    max-width: 100%;
    height: auto;
  }
  .button {
    width: 300px;
    height: 60px;
  }